@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(153, 30, 235);
  background: radial-gradient(
    circle,
    rgba(153, 30, 235, 1) 0%,
    rgba(46, 34, 180, 1) 100%
  );
  color: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 105rem;
  width: min(100% - 2.5rem);
  margin: 0 auto;
}

.container-list {
  max-width: 128rem;
  width: min(100% - 2.5rem);
  margin: 0 auto;
}

/* Header */

.header {
  padding: 15px 0;
}

.brand-title {
  font-family: 'Oswald', sans-serif;
  font-size: 4.2rem;
  font-weight: 500;
  text-align: center;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8rem;
  margin-top: 1.5rem;
}

.header-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: #111;
  padding: 10px 16px;
  width: 15.5rem;
  border-radius: 5px;
  text-align: center;
}

/* Main-Content */

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.random-image-title {
  margin-bottom: 5px;
}

.random-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem 5rem;
}

.mar-t:nth-child(1) {
  margin-top: 0;
}

.mar-t {
  margin-top: 5rem;
}

.random-image > img {
  width: 45rem;
  height: 38rem;
  object-fit: cover;
  border-radius: 10px;
}

.intro-image-text {
  flex: 1;
  font-size: 2.2rem;
  font-weight: bolder;
  color: rgb(255, 251, 0);
}

.random-image-text {
  flex: 1;
  font-size: 1.8rem;
  font-weight: 500;
}

.random-image-list {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem 2.5rem;
}

.random-image-item > img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-radius: 5px;
}

.random-image-text {
  text-align: justify;
  margin-top: 1.5rem;
}

/* CSS */
.random-image-btn {
  display: block;
  margin: 0 auto;
  margin-top: 3.5rem;
  padding: 16px 32px;
  border: 2px solid #ffffff;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.8rem;
  font-weight: 500;
}

/* .random-image-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-random-image-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
} */

/* @keyframes glowing-random-image-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

/* .random-image-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
} */

@media (max-width: 950px) {
  .random-image {
    column-gap: 2.5rem;
  }

  .random-image > img {
    width: 38rem;
    height: 32rem;
  }
}

@media (max-width: 767px) {
  .random-image {
    flex-direction: column;
  }

  .random-image > img {
    width: 100%;
    height: 36rem;
  }

  .main {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header-links {
    margin-top: 0.85rem;
  }

  .random-image-text {
    text-align: center;
  }
  .intro-image-text {
    text-align: center;
  }
  .random-image-title {
    text-align: center;
  }

  .header-links {
    column-gap: 2.5rem;
  }
}
